h1 {
  text-align: center;
}

.signup {
  position: absolute;
  top: 10px;
  right: 10px;
}

.login {
  position: absolute;
  top: 0px;
  right: 0px;
}

ul {
    text-align: center;
    list-style-type: none;
    margin: 10;
    padding: 10;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}
</style>
</head>
<body>

<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>
